# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
/build-logic/.gradle/
/build-logic/build/
/build-logic/build/classes/kotlin/main/
/core/designsystem/build/
/core/domain/build/
/core/domain/build/classes/kotlin/main/
/core/network/build/
/core/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/ui/build/
/data/auth/build/
/data/auth/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/data/catalog/build/
/data/catalog/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/data/search/build/
/data/search/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/data/user/build/
/data/user/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/data/watching/build/
/data/watching/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/categories/build/
/feature/categories/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/details/build/
/feature/details/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/home/build/
/feature/home/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/library/build/
/feature/library/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/onboarding/build/
/feature/onboarding/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/player/build/
/feature/player/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/profile/build/
/feature/profile/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/search/build/
/feature/search/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/